.detalhesContainer {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;

    input, select, textarea {
        border: 1px solid #242424;
        border-radius: .6rem;
        padding: .5rem;
        font-family: 'inria-sans';
        font-size: 1rem;
    }

    select {
        margin-top: 1rem;
        appearance:none;
    }

    textarea {
        width: 80%;
        height: 8rem !important;
        margin: 1rem .5rem;
    }

    button {
        color: #fff;
        background-color: #1E4F6F;
        border-radius: 1.1rem;
        padding: 1.1rem 3rem;
    }

    .Medio {
        width: 100%;
    }

    .lEsquerdo {
        width: 32%;
        
        input:nth-child(1) {
            margin-bottom: 1rem;
        }
    }

    .lMeio {
        width: 32%;
        
        input:nth-child(1) {
            margin-bottom: 1rem;
        }
        input:nth-child(2) {
            width: 50%;
        }
    }

    .lDireito {
        width: 16%;        
        input:nth-child(1) {
            margin-bottom: 1rem;
        }
    }


    .detalhes {
        height: 85%;
        width: 100%;

        .w45 {
            width: 40%;
        }

        .wDireito {
            width: 60%;
            margin-top: 7%;
        }

        .data {
            font-family: 'inria-bold';
            margin-bottom: .2rem;
        }

        .card {
            border-radius: .8rem;
            box-shadow: 3px 3px 16px #c9c9c9;

            flex-wrap: wrap;

            height: 24rem;            
            width: 100%;
            margin: 0 .5rem;
            padding: .6rem;
        }
        h1 {
            font-family: 'code-bold';
            font: bold;
            text-transform: uppercase;
            font-size: 2rem;
        }

        h2 {
            font-size: 1.4rem;
            margin-bottom: .6rem;
        }

        p {
            font-family: 'inria-regular';
            font-size: 1rem;
        }

        .usuario {
            margin-top: 1rem;

            .username {
                font: bold;
                font-family: 'code-bold';
                text-transform: uppercase;
                font-family: 2.2rem ;
            }

            img {
                border: 4px solid #242424;
                border-radius: 999px;
                width: 5rem;
                height: 5rem;
                margin-right: .6rem;
            }

            .visualizar {
                color: #b3b3b3;
            }
        }

        .categoria {
            height: 100%;
            width: 100%;

            display: flex;
            align-items: flex-end;
            background-color: #1E4F6F;
        }
    }

    .pato {
        background-color: #1E4F6F;
        color: #fff;
        padding: .4rem .8rem;
        text-align: center;
        border-radius: .8rem;
    }
}